.container {
  max-width: 1020px;
  margin: auto;
}

.conteinerAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 70px;
  width: 90%;
}

.conteinerAbout img {
  height: 220px;
  margin-right: 5%;
}

.conteinerAbout p {
  height: 220px;
  margin-left: 5%;
  width: 30%;
}

.container h3 {
  margin-top: 100px;
  margin-left: 20px;
  font-size: large;
}

.containerCards {
  margin-top: 30px;
  margin-bottom: 75px;
  display: flex;
  justify-content: space-around;
}


.verticalLine {
  border-left: 1px solid black;
  background-color: 'black';
  height: 300px;
}