.image {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

.title {
  display: flex;
  max-width: 300px;
  background-color: rgba(12, 35, 70, 1);
  height: 40px;
  align-items: center;
}

.title h4 {
  margin-left: 15px;
  color: white;
}