.container {
  max-width: 300px;
  color: #F5F5F5;
  position: relative; /* Adiciona essa linha */
  border-radius: 14px;
  overflow: hidden;
}

.image {
  height: 250px;
  width: 300px;
  object-fit: cover;
  border-radius: 14px;

}

.title {
  display: flex;
  max-width: 300px;
  background-color: #121212;
  font-weight: bold;
  height: 40px;
  align-items: center;
}

.title h4 {
  margin-left: 15px;
  color: white;
}

.subContainer {
  position: absolute; /* Adiciona essa linha */
  top: 0; /* Adiciona essa linha */
  right: 0;
  width: 80%; /* Adiciona essa linha */
  height: 87%; /* Adiciona essa linha */
  background-color: rgba(16, 12, 12, 0.85); /* Ajusta para ter uma cor de fundo com transparência */
  padding: 20px; /* Adiciona um preenchimento para o conteúdo não colar nas bordas */
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho da div */
  display: flex; /* Para centralizar o conteúdo */
  flex-direction: column; /* Para empilhar o conteúdo */
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
  color: #F5F5F5;
  border-top-right-radius: 14px; /* Arredonda o canto superior esquerdo */
  border-bottom-right-radius: 14px;
  transform: translateX(100%); /* Começa fora da tela para a direita (ou seja, escondido para o lado direito do seu container) */
  opacity: 0; /* Começa invisível */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Transição para as propriedades transform e opacity */
  pointer-events: none; /* Garante que não interfira com eventos de mouse quando escondido */
}

.container:hover .subContainer {
  transform: translateX(0); /* Desliza para sua posição original */
  opacity: 1; /* Torna-se totalmente visível */
  pointer-events: auto; /* Permite cliques e interações */
}

.subContainer h4 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.containerTechnologies {
  display: flex;
  flex-wrap: wrap;

}

.containerTechnologies img {
  margin-left: 10px;
}

.containerLinks {
  margin-top: 25px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-evenly;
}

.containerLinks a {
  color: black;
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
}

.containerLinks a:hover {
  color: blue;
}