.container {
  display: flex;
  height: 60px;
  background-color: rgba(12, 35, 70, 1);
  color: rgba(188, 188, 188, 1);
  justify-content: end;
  align-items: center;
}

.links {
  margin-right: 5%;
  font-weight: 500;
  cursor: pointer;
}

.menuProjectLink {
  text-align: center;
  display: block;
  height: 110px;
  width: 115px;
  position: absolute;
  border-radius: 8px;
  justify-content: center;
  top: 8%;
  right: 29%;
  background-color: rgba(12, 35, 70, 1);
}

.menuContactLink {
  height: 128px;
  width: 40px;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 8%;
  right: 18%;
  background-color: rgba(12, 35, 70, 1);
}